* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body{
width: 100%;
height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x:hidden;
}


body>div {
    position: relative
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

* html .clearfix {
    height: 1%
}

.clearfix {
    display: block
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {  
  color: #ED5F4C;
}

.center {text-align: center}
.bold {font-weight: bold}
.gray {color: #555252;}

.floatright {float: right;}
.floatleft {float: left;}

a {
  text-decoration: none;
  color: #ffffff;
}

a:active, a:hover {
  text-decoration: none;
  color: #ED5F4C;
}

/***Navigation***/

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    background-color: #1f8dd6;
}

.fixed-nav-bar a,
.fixed-nav-bar li {
    height: 80px;
    line-height: 80px;
}

.menu {
    width: 90%;
    max-width: 2000px;
    margin: 0 auto;
    background-color: #1f8dd6;
}

.menu a,
.menu a:visited {
    color: #fff;
}

.menu a:hover,
.menu a:target {
    color: #ebebeb;
}

.menu-items {
    display: inline-block;
    margin: 0;
}

.sitename {
    font-size: 24px;
    display: inline-block;
    float: left;
}

a.sitename,
a:visited.sitename {
    color: #ffffff;
    text-decoration: none;
}

#menu-wrap {
    float: right;
}

.menu-items li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 30px;
    text-align: center;
}

.menu-items a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    vertical-align: top;
}

.menu-items a span {
    display: inline-block;
    line-height: normal;
}

.menu-items a span:after {
    display: block;
    content: '';
    height: 5px;
    width: 100%;
    background: 0 0;
    transition: background-color .3s, transform .3s;
    -moz-transition: background-color .3s, -moz-transform .3s;
    -webkit-transition: background-color .3s, -webkit-transform .3s
}

.menu-items a.active span:after,
.menu-items a:hover span:after {
    background-color: #ED5F4C;
}

.hide,
.show {
    display: none;
    padding-left: 15px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center left;
    color: #dde1e2;
}

.show {
    background-image: url(../img/hamburger.png)
}

.hide {
    background-image: url(../img/close.png)
}



@media (min-width:751px) and (max-width:1035px) {
    .fixed-nav-bar {
        font-size: 18px;
    }
    .menu-items li {
        margin-left: 10px;
    }
}

@media (min-width:0) and (max-width:1030px) {
    .fixed-nav-bar {
        font-size: 18px;
    }
}

@media (max-width:750px) {
    .fixed-nav-bar {
        height: 60px;
    }
    .fixed-nav-bar a,
    .fixed-nav-bar li {
        height: 60px;
        line-height: 60px;
    }
    .menu {
        position: relative;
        width: 100%;
    }
    .sitename {
        position: absolute;
        top: 0;
        left: 15px;
        margin-right: 20px;
        font-size: 18px;
    }
    #menu-wrap {
        display: none;
        width: 100%;
        background: rgba(0, 0, 0, .85);
    }
    #menu-wrap .menu-items {
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        margin: 0;
        padding: 0;
    }
    .menu-items li {
        display: block;
        text-align: center;
        padding: 0 10px;
        font-size: 23px;
    }
    .menu-items a::after {
        background: #ff0;
        position: absolute;
        top: 100%;
        content: '';
        height: 5px;
        opacity: 0;
        left: 36%;
        width: 27%;
    }
    .hide,
    .show {
        position: absolute;
        top: 0;
        right: 15px;
    }
    .show {
        display: inline-block;
    }
    .hide {
        display: none;
    }
    #menu-wrap {
        margin: 0;
        padding: 0;
        list-style: none;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }
}

@media (min-width:751px) {
    #menu-wrap {
        display: block!important;
        opacity: 1!important;
    }
    .menu a.show {
        display: none!important;
    }
    #menu-wrap .menu-items {
        margin-top: 0!important;
    }
}

/**Arrow**/
.arrow {
  position: fixed;
  bottom: 200px;
  left: 50%;
  margin-left:-20px;
  width: 40px;
  height: 22px;
  background-image: url("../img/down-arrow.png");
}

  @media (max-width: 750px) {
    .arrow {
      bottom: 115px;
    }
    }


  @media (max-width: 750px) and (orientation: landscape) {
    .arrow {
      display: none;
    }
    }


.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}


/******FADE IN/OUT********/

.fade-scroll {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -webkit-transform: translateY(50px);
}

.fade-scroll.active {
  opacity: 1;
   -webkit-transform: translateY(0px);
}

/******SPLASH********/
.splat-container {
    background: #1f8dd6;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splat {
  position: absolute;
  width: 800px;
  left: 50%;
  margin-left: -400px;
  top: 50%;
  margin-top: -20px;
  text-transform: uppercase;
}

@media (max-width: 750px) {
  .splat-container {
    top: 50px;
  }

  .splat {
    top: 30%;
    height: 80%;
    width: 300px;
    margin-left: -150px;
  }
}

@media (max-width: 750px) and (orientation: landscape){
  .splat-container {
    top: 30px;
  }
  .spalt {
    height:90%
  }
}
 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait){
  .splat-container {
    top: 50px;
  }

  .splat {
    top: 30%;
    height: 80%;
    width: 600px;
    margin-left: -300px;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape){
   .splat {
    width: 700px;
    margin-left: -350px;
  }
}

.content-wrapper {
    position: absolute;
    top: 90%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
}

@media (max-width: 750px) {
  .content-wrapper {
    top: 85%;
  }
  }


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade{
    opacity:0;
    -webkit-animation:fadeIn ease-in 1; 
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:0.3s;
    -moz-animation-duration:0.3s;
    animation-duration:0.3s;
    

    -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;

}

  @-webkit-keyframes arrows {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    90% { top:12%; }
    100% { top:0; }
  }
  

/***CHANGE TEXT****/

h1 {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  text-align: left;
}

.rw-words{
    display: inline;
    text-indent: 10px;
}

@media (max-width: 750px){
  .rw-words {
    display: block;
    text-indent: 0;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
  .rw-words {
    display: block;
    text-indent: 0;
  }
}
.rw-words span{
    position: absolute;
    opacity: 0;
    overflow: hidden;
    width: 100%;
    color: #ffffff;
}

.rw-words-1 span{
    -webkit-animation: rotateWord 15s linear infinite 0s;
}
.rw-words span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
    color: #8e44ad;
}
.rw-words span:nth-child(3) { 
     -webkit-animation-delay: 6s; 
    color: #ED5F4C;
}
.rw-words span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
    color: #15edc3;
}
.rw-words span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
    color: #ED5F4C;
}


@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
}

/**GRID**/
 .grid-container{
        width: 100%; 
        max-width: 1200px;  
        margin: 0 auto;    
    }
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape)  { 
  .grid-container {
    max-width: 1000px;
  }
 }

 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait)  { 
  .grid-container {
    max-width: 750px;
  }
 }

    /*-- our cleafix hack -- */ 
    .row:before, 
    .row:after {
        content:"";
          display: table ;
        clear:both;
    }

    [class*='col-'] {
        float: left; 
        min-height: 1px; 
        width: 16.66%; 
        /*-- our gutter -- */
        /*padding: 12px;*/
    }

    .col-1{ width: 16.66%; }
    .col-2{ width: 33.33%; }
    .col-3{ width: 50%;    }
    .col-4{ width: 66.66%; }
    .col-5{ width: 83.33%; }
    .col-6{ width: 100%;   }

    .outline, .outline *{
        outline: 1px solid #F6A1A1; 
    }

    /*-- some extra column content styling --*/
    [class*='col-'] > p {
     padding: 0;
     margin: 0;
     color: white; 
    }

     @media all and (max-width: 750px){
        .col-1{ width: 33.33%;    }
        .col-2{ width: 50%;        }
        .col-3{ width: 83.33%;    }
        .col-4{ width: 100%;    }
        .col-5{ width: 100%;    }
        .col-6{ width: 100%;      }

        .row .col-2:last-of-type{
            width: 100%; 
        }

        .row .col-5 ~ .col-1{
            width: 100%; 
        }
    }

.titles, .contact{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 3.5em;
  font-style: italic;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
  margin: 50px 0 0 50px;
}

@media (max-width: 750px) {
   .titles, .contact {
    font-size: 2em;
    margin-left: 30px;
  }
}

.contact {
  text-align: center;
  margin-left: 0;
  margin-bottom: 30px;
}

/* INTRO*/
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  color: #ffffff;
}
@media (max-width: 750px) {
  h1 {
    font-size: 1.5em;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
  h1 {font-size: 40px;}
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 3em;
  color: #ED5F4C;
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 750px) {
h2 {
  font-size: 1.5em;
}
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: #ED5F4C;
  margin: 0 0 25px 30px;
} 

@media (max-width: 750px) {
h4 {
  margin-top: 0;
}
}

.project-container {
  margin: 50px 0px 125px 25px;
}

@media (max-width: 750px) {
.project-container {
  margin-bottom: 75px;
}
}

.project-description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #555252;
  margin-left: 30px;
  max-width: 500px;
}


/***Contact***/
.contact-container{
  max-width: 600px;
  margin: 0 auto 50px;
}

.email-container {
  max-width: 300px;
  margin: 0 auto;
}


#contactForm {
  padding-bottom: 100px;
}

@media (max-width: 750px) {
  #contactForm {
    padding: 0 20px;
  }
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #ED5F4C;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.form-control {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
textarea.form-control {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
 font-family: 'Open Sans', sans-serif;
 font-size: 14px;
 color: #d0cdfa;
}
:-moz-placeholder { /* older Firefox*/
 font-family: 'Open Sans', sans-serif;
 font-size: 14px;
 color: #d0cdfa;
}
::-moz-placeholder { /* Firefox 19+ */ 
  font-family: 'Open Sans', sans-serif;
 font-size: 14px;
 color: #d0cdfa;
} 
:-ms-input-placeholder { 
 font-family: 'Open Sans', sans-serif;
 font-size: 14px;
 color: #d0cdfa;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"].form-control,
  input[type="time"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control {
    line-height: 34px;
  }
  input[type="date"].input-sm,
  input[type="time"].input-sm,
  input[type="datetime-local"].input-sm,
  input[type="month"].input-sm,
  .input-group-sm input[type="date"],
  .input-group-sm input[type="time"],
  .input-group-sm input[type="datetime-local"],
  .input-group-sm input[type="month"] {
    line-height: 30px;
  }
  input[type="date"].input-lg,
  input[type="time"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg,
  .input-group-lg input[type="date"],
  .input-group-lg input[type="time"],
  .input-group-lg input[type="datetime-local"],
  .input-group-lg input[type="month"] {
    line-height: 46px;
  }
}
.form-group {
  margin-bottom: 15px;
  text-align: right;
}

#form-messages {
  font-family: 'Open sans', sans-serif;
  font-weight: bold;
  color: #ED5F4C;
  margin-bottom: 10px;
}

/**Footer***/
#footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  background: #1f8dd6;
  width: 100%;
  height: 40px;
  z-index: 9999;
}

.resume {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  text-transform: uppercase;
  line-height: 40px;
}
